# This is an example .env file
# Must be renamed to .env and filled with actual values

## Grafana variables
GRAFANA_URL="your_grafana_url"
# Url for Grafana dashboard to get image
GRAFANA_TOKEN="your_magic_grafana_token"
# Token for Grafana API, this token was gotten from
# grafana service account

## Telegram variables
TELEGRAM_URL="https://api.telegram.org/bot{TOKEN}"
# Url for Telegram API, is a public endpoint, only needs
# the token to use it. It´s necessary the url contains 
# '{TOKEN}' because will be replaced with the actual token
TELEGRAM_ENDPOINT="your_telegram_endpoint"
# Endpoint for Telegram API, consult telegram docs for more info.
TELEGRAM_TOKEN="your_telegram_token"
# Token for Telegram API
TELEGRAM_MESSAGE="your_telegram_message"
# Message to send